<?xml version=“1.0” encoding=“UTF-8”?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd”>
<plist version=“1.0”>
<dict>
        <key>Label</key>
        <string>sync</string>
        <key>ProgramArguments</key>
        <array>
                <string>/Users/Development/my_stuff/sync.sh</string>
        </array>
        <key>WatchPaths</key>
        <array>
                <string>/Users/Development/my_stuff/test</string>
        </array>
</dict>
</plist>
